.vertcontainer
	.vhelper
		.vcontent
			%body.bg8
				.col-md-8.col-md-offset-2
					.panel.panel-default
						.panel-body
							.close-new
								= link_to "", "#", class: "glyphicon glyphicon-remove", data: {dismiss: "modal"}
								= link_to "", "cancel", class: "none", data: {dismiss: "modal"}
							= render 'form'