= link_to "New Product", new_pin_path, remote: true, class: "btn btn-primary"
#flexcontainer
	= render "index"
.col-md-4.col-md-offset-4.center			
	#infinite-scrolling
	= will_paginate @pins











				